<div class="row" id="main-content">

  <div class="col-md-5">
    <h2 style="margin-top:0">Review Pending Club</h2> 
  </div>

  <div class="col-md-12"></div>


	<div class="col-md-6">		
		<%=  %>
	</div>
</div>
