<div class="row" id="main-content">

  <div class="col-md-5">
    <h2 style="margin-top:0">Edit your <%= @event_comment.comment_type %></h2> 
  </div>

  <div class="clearfix"></div>
	
	<h4>Targeted Event: <%= @event_comment.event.event_name %></h4>

	<div class="col-md-5">	
		<%= render "edit_form" %>	
	</div>

	<%= link_to "Delete Comment", @event_comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
</div>
