<h1>Post new EventComments</h1>
<% if signed_in? %>
	<%= render "form" %>
<% else %>
	<strong>Please sign in to post a comment</strong>
<% end %>

<%= link_to "Back to Event", event_path(@event), class: "btn btn-default" %>