<h1>Listing all ticket allocations</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>event_name</th>
      <th>ticket_type</th>
      <th>user_displayname</th>
      <th>quantity</th>
    </tr>
  </thead>

  <tbody>
    <% @ticket_allocations.each do |ticket_allocation| %>
      <tr>
        <td><%= ticket_allocation.ticket.event.event_name %></td>
        <td><%= ticket_allocation.ticket.ticket_type %></td>
        <td><%= ticket_allocation.user.displayname %></td>
        <td><%= ticket_allocation.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>