<h1>New ticket assoication</h1>
<% if signed_in? %>
	<%= render 'form' %>
<% else %>
	<strong>Please sign in to register for tickets</strong><br>
<% end %>

<%= link_to 'Back', event_path(@ticket.event.id), class: "btn btn-default" %>
