<div class="row" id="main-content">

  <div class="col-md-5">
    <h2 style="margin-top:0">Edit Club Assoication</h2> 
  </div>

  <div class="clearfix"></div>
	
	<h4>Targeted Club: <%= @shared_event.club.club_name %></h4>
	<h4>Targeted Event: <%= @shared_event.event.event_name %></h4>

	<div class="col-md-5">	
		<%= render "form" %>	
	</div>
	<div class="col-md-12">
		<%= link_to "Delete Assoication", @shared_event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
	</div>
</div>