// Custom stylesheet for ClubBiz elements

body {
        background: url(img/wallpaper1.png) no-repeat;
        background-size: cover;
      }
      /* make sidebar nav vertical */ 
      @media (min-width: 768px) {
        .sidebar-nav .navbar .navbar-collapse {
          padding: 0;
          max-height: none;
        }
        .sidebar-nav .navbar ul {
          float: none;
          display: block;
        }
        .sidebar-nav .navbar li {
          float: none;
          display: block;
        }
        .sidebar-nav .navbar li a {
          padding-top: 12px;
          padding-bottom: 12px;
        }

        #main-content{
          padding-top: 20px;
        }
      }

      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -30px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 30px;
      }
      #footer {
        background-color: #333;
        color: #666;
      }
      #footer .cb-footer-row{
        padding-top: 5px;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
      .cb-event-list-element{
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        padding:0 5px 5px 0;
        overflow: visible;
      }
      .cb-ticket-list-element{
        border-bottom: 1px solid #999;
        border-right: 1px solid #999;
        padding:0 5px 5px 0;
        background: #eee;
        margin-bottom: 15px;
      }
      .cb-news-list-element{
        border-bottom: 1px solid #999;
        border-right: 1px solid #999;
        padding:0 5px 5px 0;
        background: #eee;
        margin-bottom: 15px;
      }
      .cb-news-list-element small{
        color: #aaa;
      }