<div class="row" id="main-content">
  <div class="col-md-5 col-md-pull-2 pull-right">
    <%= render "shared/search_all" %>
  </div>

  <div class="col-md-5">
    <h2 style="margin-top:0">About ClubBiz</h2> 
  </div>

  <div class="col-md-12"></div>


	<div class="col-md-5">		
		<small>
			Powered by Opetex, 2014<br>
		  This website provides a portal for the public to engage with clubs and societies at The University of Melbourne.<br>
		  Registration is free, and allows for engaging in club activities, such as viewing events and booking tickets.<br>
		</small>
	</div>
	<div class="col-md-5">
		<img src="http://placehold.it/340x170" width="100%">
	</div>
</div>
