<div class="row" id="main-content">
	
	<div class="col-md-8">
		<h2>Search</h2>
		<%= render "shared/search_all" %>
	</div>
	<div class="col-md-5">
		<h3><em>Clubs</em></h3>
		<%= render @clubs || "There are no matches in clubs" %>
	</div>
	<div class="col-md-5">
		<h3><em>Events</em></h3>
		<%= render @events || "There are no matches in events" %>
	</div>

</div>
