<div class="row well">
	<div id="featured_events">
	  <div class="">
	    <img class="pull-right" src="http://placehold.it/250x150"/>
	    <p>
	      <strong>Next Event</strong><br>
	      <small><%= event.start_datetime %> <em>Add LOC to DB</em><br><em>Split datetime</em><br><%= event.event_name %><br></small><br><%= event.event_description %>
	    </p>
	  </div>
	</div>
</div>