<div class="col-md-12 cb-ticket-list-element">
	<div class="col-md-4">
		<strong><%= ticket_allocation.ticket.event.event_name %></strong><br>
		<%= ticket_allocation.ticket.event.start_datetime %><br>
		<em>ADD LOC TO EVENT DB</em>
	</div>
	<div class="col-md-6">
		<br>
		<%= ticket_allocation.ticket.ticket_type%><br>
		<strong>Qty:</strong> <%= ticket_allocation.ticket.quantity %>
	</div>
	<div class="col-md-2 text-right">
		<b class="caret"></b>
	</div>
</div>