	<li><a href="#">Home</a></li>
	<li><a href="#">Notifications</a></li>
	<li><a href="#">My Clubs</a></li>
	<li><a href="#">Search Clubs</a></li>
	<li><a href="#">Register your Club</a></li>
	<li><a href="#">My Settings</a></li>
	<li><a href="#">About us</a></li>