<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <img src="http://placehold.it/75x75" alt="...">
    <div class="caption">
      <center>
      	<h4>club.club_name</h4>
      	<%= link_to "Visit", club_path(club), class: "btn btn-default btn-xs" %>
	  	</center>
    </div>
  </div>
</div>