<table class="table">
	<tr>
		<td>Club Name</td>
		<td><%= club.club_name %></td>
	</tr>
	<tr>
		<td>Club Description</td>
		<td><%= club.club_description %></td>
	</tr>
	<tr>
		<td>Club Website</td>
		<td><%= club.club_website %></td>
	</tr>
	<tr>
		<td>Rego Number</td>
		<td><%= club.rego_number %></td>
	</tr>
</table>