<div class="row" id="main-content">

  <div class="col-md-7">
    <h2 style="margin-top:0">Edit your Club</h2>                   
  </div>

  <div class="col-md-12"></div>
  <%= render "edit_form" %>

</div>
